  /**Responsive MOBILE **/

	#restaurants{
		background-color: #F2F2F2;
		height: 1140px;
	}
	#restaurants h2{
		padding: 45px 0px 10px 25px;
	}
	#vignette{
		width: 90%;
		height: 232px;
		background-color: white;
		border-radius: 30px;
		box-shadow: 0px 5px 20px #999;
		margin: auto auto 20px auto;
	}
	#vignette a{
		text-decoration: none;
	}
	#txt_icone_vignette{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}
	#div_img_vignette{
		height: 160px;
		position: relative;	
	}
	.img_vignette{
		border-radius: 20px 20px 0px 0px;
		height: 160px;
		width: 100%;
		object-fit: cover;
		
	 }
	 .texte_nouveau{
		background-color: #99E2D0;
		color: green;
		position: absolute;
		font-weight: bold;
		border-radius: 4px;
		right: 10px;
		top: 10px;
		width: 70px;
		height: 25px;
		padding-left: 8px;
		padding-top: 3px;
	}
	 
	 #txt_icone_vignette h3{
		margin: 10px 0px 0px 15px;
	}
	 #txt_icone_vignette  p{
		margin: 5px 0px 0px 15px;
	}
	#txt_icone_vignette a{
		color: black;
	}
	 .icone_coeur{
		 display:flex;
	 }
	 .div_icone{
		display: flex;
		align-items: center;
		margin-right: 40px;
		font-size: 1.35em;
	 }