  /**Responsive MOBILE **/

	#section_fonctionnement h2{
		margin-left: 20px;
	}  
	#choix{
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: #F2F2F2;
		border-radius: 25px;
		width: 90%;
		height: 80px;
		margin: auto auto 20px auto;
	}
	#choix p{
		background-color: #9356DC;	
		width: 20px;
		height: 20px;
		border-radius: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		margin-left: -20px;
	}
	#choix h3{
		margin-right: 40px;
	}
	  
	.icone_choix{	
		color: gray;
	  }
  