// Animations PAGE PRINCIPALE  //

// KeyFrames en bas du fichier //

#bloc_chargement{
	z-index: -1;
	transform: rotate(-5turn);
	transition: transform 4s ease-in-out;
	animation: key_chargement 2.8s both;
}

header{
	#bloc_explorer{
		.bouton_explorer{
			opacity: 1;
			transition: opacity 1s;
			
			&:hover{
				opacity: 0.7;
			}
		}
	}
}
#restaurants{
	#bloc_vignettes{
		.icone_coeur:hover{
			animation-name: key_coeur;
			animation: key_coeur 1s ease-in-out both;
		//	animation-duration: 1s;
		//	animation-timing-function: ease-in-out;
		//	animation-fill-mode: both;
		}
	}
}

#section_fonctionnement{
	#bloc_choix{
		#choix:hover{
			background-color: rgba($color: #9356DC, $alpha: 0.30);
			transition: background-color 1.2s;
		}
	}
}

// Animations PAGES MENUS //

#section_main{
	.titre_main{
		.icone_coeur:hover{
			animation-name: key_coeur;
			animation: key_coeur 1s ease-in-out both;
	//		animation-duration: 1.2s;
	//		animation-timing-function: ease-in-out;
	//		animation-fill-mode: both;
		}
	}
	#bloc_menu{
		#menu_entrees,
		#menu_plats,
		#menu_desserts{
			.menu:hover{	
				.anim_valider{
					animation: key_check 2s both;
				.icone_check{
					animation-name: key_rotation;
					animation: key_rotation 550ms linear;
				}
				}
			}
		}
	}
	.bouton_commander{
		opacity: 1;
		transition: opacity 1s;
		
		&:hover{
			opacity: 0.7;
		}
	}
}
// Keyframes //

@keyframes key_coeur {
	from{
		color: $color-primary;
		font-weight: bold;
	}
	to{
		color: $color-secondary;
		font-weight: bold;
	}
}

@keyframes key_fonctions{
	from{

	}
	to{
		background-color: rgba($color: #9356DC, $alpha: 0.30);

	}
}
@keyframes key_fadein {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes key_check {
	from{
		width: 0%;
		display:none;
	}
	to{
		width: 25%;
		display: flex;
	}
}

@keyframes key_rotation{
	from {
		transform: rotate(0deg);
	  }
	to {
		transform: rotate(360deg);
	  }
	}
@keyframes key_slide {
	from{
		left: 0;
	}
	to{
		right: 0;
	}
}
@keyframes key_chargement{
	from{
		visibility: visible;
		z-index: 2;
	}
	99%{
		z-index: 2;
	}
	to{
		visibility: hidden;
		z-index:-1;
	}
}