// Responsive MOBILE //
body{
	#bloc_chargement{
	//	display: none;
		position: fixed;
		height: 100%;
		width: 100%;
		.logo_chargement{
			border: 3px solid #FF79DA;
			border-radius: 20px;
			width: 50%;
			height: 15%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto;
		}
		.icone_chargement{
			font-size: 2.5em;
			color: $color-primary;
		}
	}
	margin: 0;
		h1{
		font-family: $font-shrikhand;
		}
		.bg_menu{
		width: 100%;
		object-fit: cover;
		max-height: 250px;
		}
}
// Responsive DESKTOP //
@media all and (min-width: 992px){
body{

	.bg_menu{
		max-height: 620px;
	}
}
}