// Responsive MOBILE //
body{
	#bloc_chargement{
		display: none;
		height: 150px;
		width: 100%;
		background-color: rgba(153, 226, 208, 0.2);
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 205px;	
		.icone_chargement{
			font-size: 2.5em;
			color: $color-primary;
		}
	}
	margin: 0;
		h1{
		font-family: $font-shrikhand;
		}
		.bg_menu{
		width: 100%;
		object-fit: cover;
		max-height: 250px;
		}
}
// Responsive DESKTOP //
@media all and (min-width: 992px){
body{

	.bg_menu{
		max-height: 620px;
	}
}
}