// Reponsive MOBILE //
// Header

header{
	@include flex_column;
	width: 100%;
	h1{
		display: flex;
		justify-content: center;
	}
	#localisation{
		@include flex_items;
		height: 60px;
		box-shadow: 0px 5px 20px #999;
		background: $color-bg;
		a{
			opacity: 0.5;
		}
	}
	.icone_loc{
		color: $color-black;
		padding: 0 10px 0 70px;
	}
	#bloc_explorer{
		@include flex_items;
		@include flex_column;
		background: #F3F3F3;
		height: 300px;
	}
	#titre_accueil{
		text-align: center;
		width: 70%;
		margin-bottom: 20px;
		 h2{
			font-family: $font-roboto;
			font-size: 1.6em;
		}
		 p{
			font-family: $font-roboto;
			font-size: 0.9em;
		}		
	}
	.bouton_explorer{
		background: $bg-degrade;
		color: $color-white;
		height: 50px;
		border-radius: 25px;
		border: none;
		width: 190px;
		font-weight: bold;
		cursor: pointer;
	}
	#recherche_loc{
		color: $color-black;
		background: $color-bg;
		cursor: pointer;
		border: none;
		outline: none;
		font-size: 18px;
		opacity: 0.5;
	}
/**Responsive MOBILE des autres pages**/
	#block_header{
		@include flex_items;
		}
	.icone_retour{
		position: absolute;
		top: 36px;
		left: 30px;	
		a{
			color: $color-black;
		}	
	}
}

// Responsive DESKTOP page principale //
@media all and (min-width: 992px){
header{
	h1{
		font-size: 3em;
	}
	#bloc_explorer{
		height: 300px;
	}
}
}

// Responsive DESKTOP des autres pages //
@media all and (min-width: 992px){
header{
	#block_header{
		h1{
			font-size: 2em;
		}
		font-size: 2em;
		margin: auto;
			.icone_retour{
				top: 74px;
			}
	}	
} 
} 