/**Responsive MOBILE **/

#section_main{
	background: $bg-gris;
	border-radius: 25px 25px 0 0;
	position: relative;
	margin-top: -45px;
	padding-bottom: 20px;
	 .icone_coeur{
		color: $color-black;
		font-size: 1.45em;
	}
	.titre_main{
		display: flex;
		align-items: baseline;
		width: 100%;
		justify-content: space-around;
		font-family: $font-shrikhand;
	}
#bloc_menu{
	@include flex_column;
	 	h2{
			border-bottom: 3px #99E2D0 solid;
			width: 15%;
			text-transform: uppercase;
			margin-left: 20px;
		}
	}
	.menu{
	position: relative;
	display: flex;
	justify-content: space-between;
	background: $color-white;
	border-radius: 15px;
	width: 90%;
	max-height: 85px;
	margin:  auto auto 25px auto;
	overflow: hidden;
		&:hover{
			.texte_menu{
				width: 60%;
				p, h3{
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
			.prix{
			//	width: 15%;
			padding-right: 0;
			}
			.anim_valider{
				display: flex;
				
			}
		}
	}
	.texte_menu{
	padding-left: 15px;
		 h3{
		margin-bottom: 0px;
		}
	}
	.prix{
	display: flex;
	align-items: end;
	padding-right: 15px;
	}
	.anim_valider{
	width: 20% ;
	background-color: #99E2D0;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 0 10px 10px 0;
		.icone_check{
			color: white;
			font-size: 1.7em;
		}
	}
	.bouton_commander{
	@include flex_items;
	background: $bg-degrade;
	color: $color-white;
	height: 50px;
	width: 190px;
	border: none;
	border-radius: 25px;
	font-weight: bold;
	cursor: pointer;
	margin: auto auto 20px auto;
	}
}

// Responsive TABLETTE //
@media all and (min-width: 768px) and (max-width: 992px){
	#section_main{
		.icone_coeur{
			font-size: 2em;
		}
		#bloc_menu{
			h2{
				width: 7%;
			}
		}
	}
}
// Responsive DESKTOP //
@media all and (min-width: 992px){
	#section_main{
		width: 75%;
		margin: -45px auto auto auto;
		border-radius: 25px;
		.titre_main{
			justify-content: space-between;
			margin-left: 35px;
		}
		.icone_coeur{
			margin-right: 60px;
			font-size: 2em;
		}
		#bloc_menu{
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-around;
			#menu_entrees,
			#menu_plats,
			#menu_desserts{
				width: 30%;
			}
			.menu{
				width: 100%;
			}
		}
	}
}