// Variables 

// Couleurs 

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: white;
$color-black: black;
$color-bg: #eeeded;
$bg-gris: #F2F2F2;
$bg-footer: #353535;


$bg-degrade: linear-gradient(#9356DC, #FF79DA);

// Polices
$font-roboto: 'Roboto', sans-serif;
$font-shrikhand: 'Shrikhand' , sans-serif;